<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Добавить реакцию</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form enctype="multipart/form-data" method="post" action="/savePicture">

        <input type="hidden" name="objectId" th:value="${objectId}">


        <label>Ваш никнейм:</label>
        <input type="text" id="nickname" name="nickname" required><br><br>

        <label>Ваш пароль:</label>
        <input type="text" id="password" name="password" required><br><br>

        <!-- <label>ID фотографии (смортите на экране телескопа):</label>
        <input type="text" id="pic_id" name="pic_id" required><br><br> -->

        <label>Телескоп:</label>
        <!--<input type="text" id="reaction" name="reaction" required><br><br>-->
        <br>
        <input type="radio" id="telescope1" name="telescope" value="GHM03" required/>GHM03
        <input type="radio" id="telescope2" name="telescope" value="SVD1300" required/>SVD1300
        <input type="radio" id="telescope3" name="telescope" value="SKYLINE" required/>SKYLINE<br/>
        <br><br>

        <label>Фотография:</label>
        <input type="file" name="imageFile">

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>