<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Объекты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form th:action="@{/objects}" method="get">
        <input type="text" name="keyword" th:value="${keyword}"  placeholder="Find by Name, Discoverer, Class or Info" size="50" >
        <button type="submit" class="btn btn-info" >Search</button>
        <button type="submit" class="btn btn-info" >Reset</button>
    </form>
    <br>
    <table class="table table-bordered table-warning">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Название</th>
            <th scope="col"> Класс</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object : ${objects}">
            <td>
                <a th:href="'/object?objectId=' + ${object.getId()}">
                    <span th:text="${object.getName()}"> </span>
                </a>
            </td>
            <td>
                <a th:href="'/objectClass?objectClass=' + ${object.getObject_class()}">
                    <span th:text="${object.getObject_class()}"> </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="general :: site-script"></div>

</body>
</html>